.burger_menu
{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 45px;
    gap: 5px;
    border-style: none;
    background-color: var(--white-color);
    margin-top: 35px;
    margin-right: 30px;
}

.burger_line
{
    display: flex;
    background-color: var(--black-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
}

.close_button
{
    display: none;
}

@media (max-width: 767px)
{

    .burger_menu
    {
        display: flex;
    }


    .toggle_burger_menu
    {
        display: flex;
    }


    .nav_links_ul:not(.toggle_burger_menu)
    {
        transform: translateX(0);
        opacity: 1;
        transition: transform 350ms ease-in-out;
    }


    .close_button
    {
        display: flex;
        justify-content: center;
        color: var(--white-color);
        background-color: var(--background-color-closeButton);
        font-size: 30px;
        background-color: none;
        padding-block: 0px;
        padding-inline: 0px;
        border-width: 0px;
        margin-top: 16px;
    }


    .nav_links_ul
    {
        position: fixed;
        display: flex;
        width: 280px;
        height: 600px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 16px;
        gap: 20px;
        border-radius: 10px;
        background-color: var(--background-color-nav_link_ul);
        top: 0px;
        right: 0;
        margin-right: 0px;
        padding-bottom: 80px;
        transform: translateX(150%);
    }


    .anchor
    {
        color: var(--white-color);
    }

   }
