@font-face
{
    src: url(../fonts/Raleway.woff2) format('woff2');
    src: url(../fonts/Raleway.Italic.woff2) format('woff2');
    src: url(../fonts/Raleway.Light.woff2) format('woff2');
    src: url(../fonts/Raleway.Regular.woff2) format('woff2');
    font-family: "Raleway";
}

:root
{
    --table-color: rgba(239, 239, 239);
    --border-color: rgba(239, 239, 239, 1);
    --button-color: rgba(0, 128, 0);
    --font-color: rgba(168, 163, 163);
    --white-color: rgba(255, 255, 255);
    --black-color: rgba(0, 0, 0);
    --background-color: rgb(223, 221, 221);
    --background-color-footer: rgba(63, 62, 62);
    --background-color-closeButton: rgb(0, 0, 0, 0);
    --background-color-nav_link_ul: rgb(0, 0, 0, 0.9);
}

html
{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body
{
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

header
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

nav
{
    max-width: 1440px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    gap: 10px;
}

.img_logo
{
    width: 400px;
    display: flex;
    cursor: pointer;
    margin-left: 30px;
}

.nav_links_ul
{
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin: 0;
    padding-inline-start: 0px;
    margin-right: 30px;
    list-style: none;
    overflow: hidden;
}

.anchor
{
    color: var(--black-color);
    font-size: 21px;
    font-weight: 600;
    font-family: "Raleway";
    text-decoration: none;
}

.anchor:hover
{
    color: var(--button-color);
    box-shadow: 0px 8px 0px 0px;
    text-decoration: none;
}

main
{
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.main_container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.section1_style
{
    display: flex;
    max-width: 1440px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 114px;
    margin-bottom: 115px;
    margin-left: 0px;
    margin-right: 0px;
}

.section1_img
{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 30px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.h2_pasta_header
{
    margin-bottom: 16px;
}

h2
{
    font-size: 33px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Raleway";
}

.ul_main
{
    list-style-type: none;
    font-size: 20px;
    font-family: "Raleway";
    margin: 0;
    border: 0;
    padding-inline-start: 0px;
    margin-bottom: 8px;
}

.section1_img_and_text
{
    width: 100%;
    display: flex;
    box-sizing: border-box
}

.main_button
{
    color: var(--white-color);
    background-color: var(--button-color);
    border: none;
    padding: 8px 64px;
    cursor: pointer;
    font-size: 18px;
}

.h2_text_button
{
    display: flex;
    flex-direction: column;
}

.section2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

.h2_section2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}

.section2_container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section2_style
{
    width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.slider_img
{
    width: 100%;
    width: 240px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.img_right
{
    margin-right: 30px;
}

.img_left
{
    margin-left: 30px;
}

.slider_img:hover
{
    transform: scale(1.1);
}

.slider_container
{
    text-decoration: none;
}

.section3_style
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.anchor_silder
{
    color: var(--black-color);
    font-weight: 600;
    font-family: "Raleway";
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h2_section3
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}

h3
{
    font-size: 20px;
}

.fryer_vs_backofen
{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

ul
{
    list-style-type: none;
    font-size: 20px;
    font-family: "Raleway";
    margin: 0;
    border: 0;
    padding-inline-start: 0px;
    margin-left: 30px;
    margin-bottom: 115px;
}

.img_fryer
{
    min-width: 240px;
    height: 240px;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.text_freyer
{
    margin-left: 10px;
    margin-right: 60px;
}

footer
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color-footer);
    margin: 0;
}

.logo_footer
{
    margin-left: 64px;
    display: flex;
    align-items: center;
}

.footer_container
{
    max-width: 1440px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.socials_logos
{
    display: flex;
    height: 120px;
    align-items: center;
    gap: 2px;
    margin-right: 64px;

}

li
{
    padding-bottom: 8px;
}

.img_socials_logos
{
    width: 75px;
    height: 75px;
}

@media (max-width: 1089px)
{
    .slider_img
    {
        width: 100%;
        max-width: 180px;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .img_fryer
    {
        min-width: 180px;
        height: 180px;
    }

}

@media (max-width: 991px)
{
    .img_logo
    {
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
        display: flex;
        cursor: pointer;
        margin: 22px 0 22px 30px;
    }

    .anchor
    {
        font-size: 16px;
    }


    .h2_pasta_header
    {
        margin-top: 50px;
    }

    h2
    {
        font-size: 23px;
    }

    .ul_main
    {
        font-size: 18px;
    }

    .section1_img_and_text
    {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
    }

    .section1_img
    {
        width: 100%;
        max-width: 920px;
    }

    .section1_style
    {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .section2
    {
        width: 100%;
        min-height: 650px;
        display: flex;
    }

    .section2_style
    {
        max-width: 1440px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 60px;
    }

    .slider_container
    {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .anchor_silder
    {
        font-size: 16px;
    }

    .h2_section3
    {
        margin-left: 30px;
        margin-right: 30px;
    }

    .fryer_vs_backofen
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .img_fryer
    {
        width: 240px;
    }

    ul
    {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
        margin-bottom: 24px;
    }

    .logo_footer
    {
        width: 250px;
    }

    .img_socials_logos
    {
        width: 45px;
        height: 45px;
    }

}


@media (max-width: 767px)
{
    .burger_menu
    {
        display: flex;
    }

    .toggle_burger_menu
    {
        display: flex;
    }

    .nav_links_ul:not(.toggle_burger_menu)
    {
        transform: translateX(0);
        opacity: 1;
        transition: transform 350ms ease-in-out;
    }

    .close_button
    {
        display: flex;
        justify-content: center;
        color: var(--white-color);
        background-color: var(--background-color-closeButton);
        font-size: 30px;
        background-color: none;
        padding-block: 0px;
        padding-inline: 0px;
        border-width: 0px;
        margin-top: 16px;
    }

    .nav_links_ul
    {
        position: fixed;
        display: flex;
        width: 280px;
        height: 600px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 16px;
        gap: 20px;
        border-radius: 10px;
        background-color: var(--background-color-nav_link_ul);
        top: 0px;
        right: 0;
        margin-right: 0px;
        padding-bottom: 80px;
        transform: translateX(150%);
    }

    .anchor
    {
        color: var(--white-color);
    }

}


@media (max-width: 539px)
{
    .img_logo
    {
        width: 180px;
        height: auto;
        display: flex;
        align-items: center;
        display: flex;
        cursor: pointer;
        margin: 30px 0 22px 30px;
    }

    .section2
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--background-color);
    }

    .section2_style
    {
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        margin-bottom: 40px;
    }

    .footer_container
    {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .logo_footer
    {
        width: 180px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        align-items: center;
    }

    .socials_logos
    {
        display: flex;
        height: 120px;
        align-items: center;
        gap: 2px;
        margin-right: 30px;
        margin-left: 30px;
        padding-right: 15px;
    }

   
}